fabric/PL_Ingest_PHCORE_Bronze/PL_Ingest_PHCORE_Bronze.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"https://phcore-api.onrender.com/docs amanuelkb":{"type":"string"},"https://phcore-api.onrender.com amanuelkb":{"type":"string"},"PHCORE_Lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"PL_Ingest_PHCORE_Bronze","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Wake-up","description":"Pings the Render-hosted API to wake it from idle sleep before Bronze ingestion runs; retries absorb cold-start latency.","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.00:10:00","retry":2,"retryIntervalInSeconds":45,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"GET","headers":{}},"externalReferences":{"connection":"[parameters('https://phcore-api.onrender.com/docs amanuelkb')]"}},{"name":"ForEach_Entity","type":"ForEach","dependsOn":[{"activity":"Wake-up","dependencyConditions":["Completed"]}],"typeProperties":{"items":{"value":"@createArray('branches','employees','courses','sessions','enrollments','evaluations','certifications','monthly_performance')\n","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy_Entity_to_Bronze","type":"Copy","dependsOn":[],"policy":{"timeout":"0.01:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('/', item())","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('https://phcore-api.onrender.com amanuelkb')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"arrayOfObjects"},"datasetSettings":{"annotations":[],"linkedService":{"name":"PHCORE_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"fdff4e03-13ed-4e39-a571-e20d9f34a26b","artifactId":"[parameters('PHCORE_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item(), '.json')","type":"Expression"},"folderPath":{"value":"bronze/raw_json/@{item()}","type":"Expression"}}},"schema":{}}},"enableStaging":false,"enableSkipIncompatibleRow":false}},{"name":"Fail_BronzeIngest","type":"Fail","dependsOn":[{"activity":"Copy_Entity_to_Bronze","dependencyConditions":["Failed"]}],"typeProperties":{"message":{"value":"@concat('Bronze ingestion failed for entity: ', item())","type":"Expression"},"errorCode":"BronzeIngestError"}}]}}],"lastModifiedByObjectId":"f576d971-56b4-48be-ae9d-76438da3d74c","lastPublishTime":"2026-06-08T07:21:49Z"},"dependsOn":[]}]}